*.out
.DS_Store
build/
.idea/
cmake-build-debug/
CMakeFiles/
conda/
*.swp
CMakeLists.txt
graphic-interface/node_modules/
btree.index
btree2.index
students.bin
graphic-interface/src/public/files/monitor/query.txt
graphic-interface/src/public/files/input.csv
